StiftungsratCrawler/Zefix/Connected Services/ZefixReference/view-source_www.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/4" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/2" xmlns:zefix="http://www.e-service.admin.ch/zefix/2015-06-26" elementFormDefault="qualified" targetNamespace="http://www.e-service.admin.ch/zefix/2015-06-26" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.w3.org/2001/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:import schemaLocation="http://www.ech.ch/xmlns/eCH-0010/4/eCH-0010-4-0.xsd" namespace="http://www.ech.ch/xmlns/eCH-0010/4" />
  <xs:import schemaLocation="http://www.ech.ch/xmlns/eCH-0097/2/eCH-0097-2-0.xsd" namespace="http://www.ech.ch/xmlns/eCH-0097/2" />
  <xs:annotation>
    <xs:documentation xml:lang="de"> XML schema f??r Zefix Web Service Interface Meldungen. </xs:documentation>
    <xs:documentation xml:lang="en"> Copyright 2005-2010 by Swiss Federal Administration. All
            rights reserved. Author: Igor Metz, Glue Software Engineering AG 
            
            $Id: ZefixService-2015-06-26.xsd 218 2015-06-26 13:12:53Z saner $  
        </xs:documentation>
    <xs:documentation xml:lang="en"> This software is the confidential and proprietary
            information of the Swiss Federal Administration. ("Confidential Information"). You shall
            not disclose such Confidential Information and shall use it only in accordance with the
            terms of the license agreement you entered into with the Swiss Federal Administration.
        </xs:documentation>
  </xs:annotation>
  <xs:complexType name="errorsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="error">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="code" type="xs:string" />
            <xs:element name="message" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="legalSeatIdType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> BFS Nummer einer politischen Gemeinde.
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="9999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="oldLegalSeatType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Fr??heres Domizil eines Unternehmens.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="oldLegalSeatId" type="zefix:legalSeatIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de">BFS Nummer der politischen Gemeinde des fr??heren
              Domizils. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="oldLegalSeat" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Name der politischen Gemeinde des fr??heren
              (Hauptbezeichnung, wenn die Gemeinde mehrere Sprachversionen hat) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="moveAwayDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Das Datum des Wegzugs von der hier erw??hnten Gemeinde.
            </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="registerOfficeIdType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> Nummer eines HRA, z.B. 7 f??r das Eidgen??ssische
                Amt f??r das Handelsregister, 241 f??r das Handelsregisteramt des Kantons Solothurn.
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="registerOfficeNameType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> Sprechende Bezeichnung des HRA.
                F??r den Kanton SO w??re dies aktuell: Handelsregisteramt des Kantons Solothurn.
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="ehraIdType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> EHRA-Nummer eines Unternehmens. Eine EHRA-Nr ist 
              aktuell eine bis zu 8-stellige Zahl</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="chidType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> CH-Nummer eines Unternehmens. Eine CH-Nr hat das Format
                CH-RRR.N.NNN.NNN-P oder CHRRRNNNNNNNP. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="CH-\d{3}\.\d\.\d{3}\.\d{3}-\d|CH\d{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="shabMutationStatusType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ f??r die Mutations-Stati in den SHAB Meldungen: 0=keine, 1=Neueintrag,
                11=Aufl. Fusion, 12 Aufl.Liq., 13=Aufl. Konk., 14=Aufl. Umwandlung,
                20=L??schung, 30=Widerruf Aufl./Konk, 40=Wiedereintrag </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:complexType name="chidSeqType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> Sequenz von CH-Nummern. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="chid" type="zefix:chidType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="legalFormIdType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> Die Rechtsform ist numerisch kodiert:
                1 = Einzelunternehmen / Raison individuelle / Ditta individuale
                2 = Kollektivgesellschaft / Soci??t?? en nom collectif / Societ?? in nome collettivo
                3 = Aktiengesellschaft / Soci??t?? anonyme / Societ?? anonima
                4 = GmbH / Soci??t?? ?? responsabilit?? limit??e / Societ?? a responsabilit?? limitata
                5 = Genossenschaft / Soci??t?? coop??rative / Cooperativa
                6 = Verein / Association / Assiciazione
                7 = Stiftung / Fondation / Fondazione
                8 = Besondere Rechtsformen / Natures juridiques particuli??res / Natura giuridica particolare
                9 = Zweigniederlassung CH / Succursale CH / Succursale CH
                10 = Kommanditgesellschaft / Soci??t?? en commandite / Societ?? in accomandita
                11 = Kommanditaktiengesellschaft / Soci??t?? en commandite par actions / Societ?? in accomandita per azioni
                82 = Selbst. ??ffentlichrechtliche K??rperschaft / Entreprise autonome de droit public / Istituto autonomo di diritto pubblico
                83 = ??ffentlichrechtliche Anstalt / Fondation de doit public / Fondazione di diritto pubblico
                84 = Gemeinderschaft / Indivision / Indivisione
                85 = Institut / Institution / Istituto
                86 = Nichtkaufm??nnische Prokura / Procuration non commerciale / Procura non commerciale
                89 = Nicht definierte Rechtsform / Nature juridique non d??finie / natura giuridica indefinita
                92 = Ausl??ndische Zweigniederlassung / Succursale ??trang??re / Succursale estera
                101 = Einzelunternehmen / Entreprise individuelle / Impresa individuale / Sole proprietorship
                823 = ??ffentlichrechtliche AG / Soci??t?? anonyme de droit public / Societ?? anonima di diritto pubblico
                824 = ??ffentlichrechtliche GmbH / S.??.r.l. de droit public / S.a.r.l. di diritto pubblico
                825 = ??ffentlichrechtliche Genossenschaft / Soci??t?? coop??rative de droit public / Societ?? cooperativa di diritto pubblico
                826 = ??ffentlichrechtlicher Verein / Association de droit public / Associazione di diritto pubblico
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
      <xs:enumeration value="7" />
      <xs:enumeration value="8" />
      <xs:enumeration value="9" />
      <xs:enumeration value="10" />
      <xs:enumeration value="11" />
      <xs:enumeration value="82" />
      <xs:enumeration value="83" />
      <xs:enumeration value="84" />
      <xs:enumeration value="85" />
      <xs:enumeration value="86" />
      <xs:enumeration value="89" />
      <xs:enumeration value="92" />
      <xs:enumeration value="101" />
      <xs:enumeration value="823" />
      <xs:enumeration value="824" />
      <xs:enumeration value="825" />
      <xs:enumeration value="826" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="legalType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Information ??ber die Rechtsform des Unternehmens. Die
          Rechtsform wird durch den EHRA eigenen Code, durch den Rechtsformcode gem??ss eCH-0097 und
          die Bezeichnung der Rechtsform in den Amtssprachen (sowie in Zukunft in Englisch)
        definiert.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="legalFormId" type="zefix:legalFormIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de">EHRA eigener Code der Rechtsform.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalFormUid" type="eCH-0097:legalFormType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Vierstelliger Code gem??ss eCH-0097. Beachte: Der Zefix Webservice
              liefert immer nur die vierstelligen Rechtsformcodes!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="4" name="legalFormName" type="zefix:translationType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Die Bezeichung der Rechtsform in den Sprachen d, f, i, e..</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="singleFullSHABType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Vollst??ndige Information zu einer SHAB Meldung.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="metaInfo" type="zefix:shabPubFullType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Metainformationen zur SHAB Meldung.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shabText" type="xs:anyType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Die eigentliche SHAB Meldung, bis 64kB gross.
Wird hier eingesetzt, XML-Struktur gem??ss HRA Schema
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyInfo" type="zefix:companyShortInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Informationen zur betroffenen Unternehmung.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="singleSHABType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Vollst??ndige Information zu einer SHAB Meldung.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="metaInfo" type="zefix:shabPubFullType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Metainformationen zur SHAB Meldung.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firmAct" type="xs:anyType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Je nach Art der Meldung werden hier entsprechende Elemente abgelegt: z.B. STATUS.CHANGED, NAME.CHANGED, ...</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyInfo" type="zefix:companyShortInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Informationen zur betroffenen Unternehmung.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="cantonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AG" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="AI" />
      <xs:enumeration value="BL" />
      <xs:enumeration value="BS" />
      <xs:enumeration value="BE" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="GE" />
      <xs:enumeration value="GL" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="JU" />
      <xs:enumeration value="LU" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="NW" />
      <xs:enumeration value="OW" />
      <xs:enumeration value="SH" />
      <xs:enumeration value="SZ" />
      <xs:enumeration value="SG" />
      <xs:enumeration value="SO" />
      <xs:enumeration value="TI" />
      <xs:enumeration value="TG" />
      <xs:enumeration value="UR" />
      <xs:enumeration value="VD" />
      <xs:enumeration value="VS" />
      <xs:enumeration value="ZG" />
      <xs:enumeration value="ZH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="statusType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Status des Unternehmens.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="cancelled">
        <xs:annotation>
          <xs:documentation xml:lang="de">Gel??schtes Unternehmen</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="active">
        <xs:annotation>
          <xs:documentation xml:lang="de">Aktives Unternehmen</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="beingCancelled">
        <xs:annotation>
          <xs:documentation xml:lang="de">Unternehmen in Aufl??sung</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="translationType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Sprachfassungen der Firma, Gemeinde, Rechtsform, ... . </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="companyShortInfoType">
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Firma</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="chid" type="zefix:chidType">
        <xs:annotation>
          <xs:documentation xml:lang="de">CH-Nummer des Unternehmens. Wird in Zukunft,
                        nach fl??chendeckender EInf??hrung der UID nicht mehr nachgef??hrt
                        werden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ehraid" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="de">EHRA interne Nummer. Wird sp??ter auf 7 Stellen
                        anwachsen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uid" type="eCH-0097:uidOrganisationIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de">UID des Unternehmens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalSeatId" type="zefix:legalSeatIdType">
        <xs:annotation>
          <xs:documentation>BFS Nummer der politischen Gemeinde. Bei einem ausl??ndischen
                        Unternehmen wird der code 9999 geliefert.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalSeat" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Name der politischen Gemeinde
                        (Hauptbezeichnung, wenn die Gemeinde mehrere Sprachversionen hat). Bei
                        Unternehmen mit Sitz im Ausland wird der Namen der ausl??ndischen Gemeinde
                        geliefert (in diesem Fall hat das Element 'legalSeatId' den Wert 9999).
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registerOfficeId" type="zefix:registerOfficeIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Nummer des zust??ndigen
                        Handelsregisteramtes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalform" type="zefix:legalType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Rechtsform des Unternehmens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="zefix:statusType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Status des Unternehmens. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="radDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="de">L??schdatum. Wird nur geliefert, wenn Status den
                        Wert 0 hat</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="companyDetailedInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Detailinformation zu einem
                Unternehmen.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Firma</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="6" name="translation" type="zefix:translationType">
        <xs:annotation>
          <xs:documentation xml:lang="de">??bersetzung der Firma</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="chid" type="zefix:chidType">
        <xs:annotation>
          <xs:documentation xml:lang="de">CH-Nummer des Unternehmens. Wird in Zukunft,
                        nach fl??chendeckender Einf??hrung der UID, nicht mehr nachgef??hrt
                        werden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ehraid" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="de">EHRA interne Nummer. Wird sp??ter auf 7 Stellen
                        anwachsen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uid" type="eCH-0097:uidOrganisationIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de">UID des Unternehmens. Wird in Zukunft, nach
                        fl??chendeckender Einf??hrung der UID, geliefert werden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalSeatId" type="zefix:legalSeatIdType">
        <xs:annotation>
          <xs:documentation>BFS Nummer der politischen Gemeinde</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalSeat" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Name der politischen Gemeinde
                        (Hauptbezeichnung, wenn die Gemeinde mehrere Sprachversionen hat)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registerOfficeId" type="zefix:registerOfficeIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Nummer des zust??ndigen
                        Handelsregisteramtes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registerOfficeName" type="zefix:registerOfficeNameType" />
      <xs:element name="legalform" type="zefix:legalType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Rechtsform des Unternehmens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="zefix:statusType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Status des Unternehmens. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="radDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="de">L??schdatum. Wird nur geliefert, wenn Status den
                        Wert 0 hat</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="capitalNom" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="de">Nominalkapital. Nur bei Kapitalgesellschaften
            vorhaben.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="purpose" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Unternehmenszweck. Nur bei HRE Eintr??gen
                        vorhanden. F??r Identifikationseintr??ge und ??ltere HRE Eintr??ge ist kein
                        Unternehmenszweck vorhanden. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="shabPub" type="zefix:shabPubType" />
      <xs:element minOccurs="0" name="webLink" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Link auf den entsprechenden Eintrag bei dem
                        zust??ndigen HRA. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="wsLink" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Web Service Link auf den entsprechenden Eintrag
                        bei dem zust??ndigen HRA. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="address" type="eCH-0010:mailAddressType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Domiziladresse. Ist bei ??lteren Eintr??ge nicht
                        vorhanden. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="companyFullInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Vollst??ndige Information zu einem Unternehmen.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Firma</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="6" name="translation" type="zefix:translationType">
        <xs:annotation>
          <xs:documentation xml:lang="de">??bersetzung der Firma</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="chid" type="zefix:chidType">
        <xs:annotation>
          <xs:documentation xml:lang="de">CH-Nummer des Unternehmens. Wird in Zukunft, nach
              fl??chendeckender Einf??hrung der UID, nicht mehr nachgef??hrt werden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ehraid" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="de">EHRA interne Nummer. Wird sp??ter auf 7 Stellen
            anwachsen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uid" type="eCH-0097:uidOrganisationIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de">UID des Unternehmens. Wird in Zukunft, nach
              fl??chendeckender Einf??hrung der UID, geliefert werden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalSeatId" type="zefix:legalSeatIdType">
        <xs:annotation>
          <xs:documentation>BFS Nummer der politischen Gemeinde</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalSeat" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Name der politischen Gemeinde (Hauptbezeichnung, wenn die
              Gemeinde mehrere Sprachversionen hat) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registerOfficeId" type="zefix:registerOfficeIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Nummer des zust??ndigen
            Handelsregisteramtes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registerOfficeName" type="zefix:registerOfficeNameType" />
      <xs:element name="legalform" type="zefix:legalType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Rechtsform des Unternehmens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="zefix:statusType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Status des Unternehmens. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="radDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="de">L??schdatum. Wird nur geliefert, wenn Status den Wert 0
            hat</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="capitalNom" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="de">Nominalkapital. Nur bei Kapitalgesellschaften
            vorhaben.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="purpose" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Unternehmenszweck. Nur bei HRE Eintr??gen vorhanden. F??r
              Identifikationseintr??ge und ??ltere HRE Eintr??ge ist kein Unternehmenszweck vorhanden.
            </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="shabPub" type="zefix:shabPubFullType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> SHAB Publikationen f??r dieses Unternehmen in den letzten
              N Jahren. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="webLink" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Link auf den entsprechenden Eintrag bei dem zust??ndigen
              HRA. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="wsLink" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Web Service Link auf den entsprechenden Eintrag bei dem
              zust??ndigen HRA. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="address" type="eCH-0010:mailAddressType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Domiziladresse. Ist bei ??lteren Eintr??ge nicht vorhanden.
            </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mainOffices" type="zefix:companyShortInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Der oder die Hauptsitz(e) dieses Unternehmens (falls das vorliegende
              Unternehmen ein Branch Office ist, sonst leer). Sonderfall mehrere Hauptsitze kann bei Firmen??bernahmen auftreten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="furtherMainOffices" type="zefix:companyShortInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Weitere Hauptsitz(e) dieses Unternehmens (falls das vorliegende Unternehmen ein Main Office ist, sonst leer). Dieser als Zweitsitz-Relation bekannte Sonderfall tritt auf bei z.B. Nestle, UBS und Nationalbank.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="branchOffices" type="zefix:companyShortInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Alle Filialen dieses Unternehmens (d.h diesem 
                        Unternehmen hierarchisch untergeordnet) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="oldNames" type="zefix:oldNamesType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Fr??here Namen des Unternehmens. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oldLegalSeats" type="zefix:oldLegalSeatType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Liste der fr??heren Sitze dieses Unternehmens. Geordnet nach
              Alter, d.h. die j??ngsten Eintr??ge zuerst.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wasTakenOverBy" type="zefix:companyShortInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Unternehmen, welches dieses hier uebernommen
              hat. Sonderfall von mehreren Firmen ??bernommen kann es geben, zu kl??ren wann dies auftritt.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hasTakenOver" type="zefix:companyShortInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Liste aller Unternehmen, welche dieses Unternehmen
              ??bernommen hat. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bfsCommunityType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Vollst??ndige Information zu allen Gemeinden und den
                dazu geh??renden Handelsregister??mtern.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="bfsId" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="de">Die BFS Gemeindenummer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="canton" type="zefix:cantonType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Das Kantonsk??rzel (zwei Zeichen).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="zefix:translationType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Der Name der Gemeinde, allenfalls mit entsprechenden 
                    Uebersetzungen in die anderen Landessprachen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registryOfficeId" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="de">Die ID des zugeordneten Handelsregisteramtes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registryOfficeType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Vollst??ndige Information zu einem Handelsregisteramt (HRA).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="de">Die ID des Handelsregisteramtes (HRA).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="canton" type="zefix:cantonType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Das Kantonsk??rzel (zwei Buchstaben).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address1" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Name/Bezeichnung des Handelsregisteramtes (Teil 1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address2" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Adresse des Handelsregisteramtes (Teil 2).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="address3" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Adresse des Handelsregisteramtes (Teil 3).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address4" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Adresse des Handelsregisteramtes (Teil 4): PLZ und Ort.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contact" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Name des/der Registerf??hrer/in.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="phone1" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Erste Telefonnummer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="phone2" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Zweite Telefonnummer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fax" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Faxnummer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="email" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Email Adresse f??r die Kontaktnahme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="openingHours" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Oeffnungszeiten in unstrukturierter Form.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="homepage" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Allgemeine URL des Handelsregisteramtes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url2" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">URL f??r Auszuege.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="url3" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">URL fuer WebService strukturierte Auszugsdaten.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sprachCode" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Prim??re Amtssprache (zweistelliger Code): DE, FR, IT.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Kurzbezeichung Espresso des HRA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="receiveType" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Leer=Kein Empfang elektronischer Eingaben. Sonst Name der Kommunikationsplattform zum Empfangen: SEDEX, DDS, IncaMail, Privasphere, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="receiveAccount" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Adresse, an welche Eingaben zu richtigen sind (vom Typ receiveType).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="receiveNotification" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">An diese Adresse kann eine Eingabe notifiziert werden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sendType" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Leer=Kein elektronischen Antworten. Sonst Name der Kommunikationsplattform zum Versenden: SEDEX, DDS, IncaMail, Privasphere, ... </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sendAccount" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Absender-Adresse bei elektronische Antworten (SMTP Adresse).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oldNamesType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> Fr??here Namen des Unternehmens. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="oldName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="sequenceNr" type="xs:integer">
              <xs:annotation>
                <xs:documentation xml:lang="de"> Sequenz Nummer gibt an, wie alt ein
                                    Eintrag ist: Je gr??sser die Zahl, je ??lter der Name. Die
                                    Sortierung sollte von neu (zuerst) nach alt (zuletzt)
                                    erfolgen.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="6" name="translation" type="zefix:translationType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shabPubType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> Kurzform einer SHAB Publikationen zu einem Unternehmen. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="shabDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Datum der SHAB Publikation
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shabNr" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Nummer der SHAB Publikation
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shabPage" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Seite der SHAB Publikation
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shabId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> ID der SHAB Publikation
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shabMutationStatus" type="zefix:shabMutationStatusType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Status der SHAB Mutation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shabPubFullType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> Eine umfangreichere Form f??r eine SHAB Publikation zu einem Unternehmen. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="shabDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Datum der SHAB Publikation </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shabNr" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Nummer der SHAB Publikation </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shabPage" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Seite der SHAB Publikation </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shabId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de"> ID der SHAB Publikation </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shabMutationStatus" type="zefix:shabMutationStatusType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Status der SHAB Mutation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registryOfficeId" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="de">Identit??t des SHAB publizierenden
                        Handelsregisteramtes. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registryOfficeCanton" type="zefix:cantonType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Kantonszugeh??rigkeit des SHAB publizierenden
                        Handelsregisteramtes. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registryOfficeJournalId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">Journal ID des SHAB publizierenden
                        Handelsregisteramtes. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registryOfficeJournalDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="de">Journal Datum der SHAB Publikation.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shabIndicatorsType">
    <xs:annotation>
      <xs:documentation xml:lang="de"> Liste der Indikatoren zu einer SHAB Meldung. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="changeState">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Art der Statusmutation: 0=keine, 1=Neueintrag, 11=Aufl.Fusion, 
                        12=Aufl.Liquidation, 13=Aufl.Konkurs, 14=Aufl.Umwandlung, 20=Loeschung, 30=Widerruf Aufl./Konk.
                    </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="20" />
            <xs:enumeration value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fusion">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Indikator Fusion, Werte 0=keine, 1, 2, 3.
                    </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="division">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Indikator Spaltung, Werte 0=keine, 1, 2, 3.
                    </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="changeSeat">
        <xs:annotation>
          <xs:documentation xml:lang="de">Sitz??nderung. 0=keine, 1=Zuzug, 2=Wegzug (1 ist immer auch Domizilaenderung).
                    </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="changeDomicil" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="de">Domizilaenderung.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="movingIn" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="de">Zuzug.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="movingOut" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="de">Wegzug.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="changeCompany" type="xs:byte">
        <xs:annotation>
          <xs:documentation xml:lang="de">Aenderung der Firma, 0=keine, 1=Aenderung.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="changeCapital" type="xs:byte">
        <xs:annotation>
          <xs:documentation xml:lang="de">Kapitalveraenderung: 0=keine, 1=nom.Kapital,
                        2=lib.Kapital, 3=nom.+lib.Kapital, 4=Stueckelung, 5=nom.Kapital+Stueckelung
                        6=lib.Kapital+Stueckelung, ...
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="transferAsset" type="xs:byte">
        <xs:annotation>
          <xs:documentation xml:lang="de">Verm??genstransfer: 0=keine, 1=Vermoegenstransfer
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contributionInKind" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="de">Sacheinlage.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="changeLegalForm" type="xs:byte">
        <xs:annotation>
          <xs:documentation xml:lang="de">Aenderung der Rechstform: 0=keine, 1=ja
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="changePurpose" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="de">Mutation Zweck.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="changeOrg" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="de">Mutation Organ.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="revOptOut" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="de">Revision Opting Out.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="revDelete" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="de">Revision Delete.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detailledResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Response-Elemente zu getBy*Request, wenn die
                detaillierte Information ben??tigt wird. </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="errors" type="zefix:errorsType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Diese Element ist nur vorhanden, wenn ein Fehler
                        aufgetreten ist. Bei einem Fehler fehlt das nachfolgende Element.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result">
        <xs:annotation>
          <xs:documentation xml:lang="de">Dieses Element ist nur vorhanden, 
                        wenn kein Fehler aufgetreten ist. Das Element ist auch dann vorhanden, 
                        wenn die Suche kein Resultat geliefert hat, also kein Unternehmen mit 
                        dieser CH Nummer, EHRA Nummer oder UID existiert. Es ist zu beachten, 
                        dass in der Regel nur eine companyInfo zur??ckgegeben wird.
                        Ausnahmen sind F??lle mit Doppelsitzen wie etwas die UBS AG.
                     </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="companyInfo" type="zefix:companyDetailedInfoType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="shabRefsByDateResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Response-Elemente zu getSHABRefsByDateRequest.
                </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="errors" type="zefix:errorsType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Diese Element ist nur vorhanden, wenn ein Fehler
                        aufgetreten ist. Bei einem Fehler fehlt das nachfolgende Element.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result">
        <xs:annotation>
          <xs:documentation xml:lang="de">Dieses Element ist nur vorhanden, 
                        wenn kein Fehler aufgetreten ist.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="shabMsg" type="zefix:singleSHABType">
              <xs:annotation>
                <xs:documentation xml:lang="de">Referenzen auf alle SHAB Meldungen eines Datums.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="shabMessageResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Response-Elemente zu getSHABMessageRequest.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="errors" type="zefix:errorsType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Diese Element ist nur vorhanden, wenn ein Fehler
                        aufgetreten ist. Bei einem Fehler fehlt das nachfolgende Element.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result">
        <xs:annotation>
          <xs:documentation xml:lang="de">Dieses Element ist nur vorhanden, 
                        wenn kein Fehler aufgetreten ist.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" name="shabMsg" type="zefix:singleFullSHABType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="legalFormsResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Response-Elemente zu getLegalFormsRequest.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="errors" type="zefix:errorsType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Diese Element ist nur vorhanden, wenn ein Fehler
                        aufgetreten ist. Bei einem Fehler fehlt das nachfolgende Element.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result">
        <xs:annotation>
          <xs:documentation xml:lang="de">Dieses Element ist nur vorhanden, 
                        wenn kein Fehler aufgetreten ist.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="legalForm" type="zefix:legalType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="bfsCommunitiesResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Response-Elemente zu getBFSCommunitiesRequest.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="errors" type="zefix:errorsType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Diese Element ist nur vorhanden, wenn ein Fehler
                        aufgetreten ist. Bei einem Fehler fehlt das nachfolgende Element.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result">
        <xs:annotation>
          <xs:documentation xml:lang="de">Dieses Element ist nur vorhanden, 
                        wenn kein Fehler aufgetreten ist.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="bfsCommunitiy" type="zefix:bfsCommunityType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="registryOfficesResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Response-Elemente zu getRegistryOfficesRequest.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="errors" type="zefix:errorsType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Diese Element ist nur vorhanden, wenn ein Fehler
                        aufgetreten ist. Bei einem Fehler fehlt das nachfolgende Element.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result">
        <xs:annotation>
          <xs:documentation xml:lang="de">Dieses Element ist nur vorhanden, 
                        wenn kein Fehler aufgetreten ist.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="registryOffice" type="zefix:registryOfficeType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="registryOfficesRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Request-Elemente zu getRegistryOfficesRequest.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="legalSeatId" type="zefix:legalSeatIdType">
        <xs:annotation>
          <xs:documentation>BFS Nummer der politischen Gemeinde (optional)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fullResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Response-Element zu getBy*Request, wenn die
                vollst??ndige Information ben??tigt wird. </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="errors" type="zefix:errorsType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Diese Element ist nur vorhanden, wenn ein Fehler
                        aufgetreten ist. Bei einem Fehler fehlt das nachfolgende Element.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result">
        <xs:annotation>
          <xs:documentation xml:lang="de">Dieses Element ist nur vorhanden, 
                        wenn kein Fehler aufgetreten ist. Das Element ist auch dann vorhanden, 
                        wenn die Suche kein Resultat geliefert hat, also kein Unternehmen mit 
                        dieser CH Nummer, EHRA Nummer oder UID existiert. Es ist zu beachten, 
                        dass in der Regel nur eine companyInfo zur??ckgegeben wird.
                        Ausnahmen sind F??lle mit Doppelsitzen wie etwas die UBS AG.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="companyInfo" type="zefix:companyFullInfoType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="getByEHRAidRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Request-Elemente um die Unternehmensinformation
                anhand der EHRA ID zu holen. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ehraNr" type="zefix:ehraIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Interne EHRA Nummer des Unternehmens, f??r
                        welches die Unternehmensinformation beschafft werden soll.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getByEHRAidDetailledRequest" type="zefix:getByEHRAidRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Request-Element um die detaillierte
                Unternehmensinformation anhand der EHRA ID zu holen. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="getByEHRAidFullRequest" type="zefix:getByEHRAidRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Request-Element um die vollst??ndige
                Unternehmensinformation anhand der EHRA ID zu holen. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="getByEHRAidDetailledResponse" type="zefix:detailledResponseType" />
  <xs:element name="getByEHRAidFullResponse" type="zefix:fullResponseType" />
  <xs:complexType name="getByCHidRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Type des Request-Elements um die Unternehmensinformation
                anhand der CH Nummer zu holen. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="chid" type="zefix:chidType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> CH-Nummer des Unternehmens, f??r welches die
                        Unternehmensinformation beschafft werden sollen (nicht eindeutig).
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getByCHidDetailledRequest" type="zefix:getByCHidRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Request-Element um die detaillierte
                Unternehmensinformation anhand der CH Nummer zu holen. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="getByCHidFullRequest" type="zefix:getByCHidRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Request-Element um die vollst??ndige
                Unternehmensinformation anhand der CH Nummer zu holen. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="getByCHidDetailledResponse" type="zefix:detailledResponseType" />
  <xs:element name="getByCHidFullResponse" type="zefix:fullResponseType" />
  <xs:complexType name="getByUidRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Type der Request-Elemente um die Unternehmensinformation
                anhand der UID zu holen. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="uid" type="eCH-0097:uidOrganisationIdType">
        <xs:annotation>
          <xs:documentation xml:lang="de"> UID Nummer des Unternehmens, f??r welches die
                        Informationen beschafft werden sollen. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSHABRefsByDateRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Type des Request-Elements um alle SHAB Meldungen
                eines Tages zu holen. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="date" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="de"> CH-Nummer des Unternehmens, f??r welches die
                        Unternehmensinformation beschafft werden sollen (nicht eindeutig).
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSHABRefsByDateResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Type des Response-Elementes um alle SHAB Meldungen eines
                bestimmten Datums zu liefern.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="shabRefsByDate" type="zefix:shabRefsByDateResponseType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Liste aller SHAB Meldungen dieses Tages. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSHABMessageRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Type des Request-Elements um eine bestimmte SHAB Meldungen
                zu holen. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="de"> Unique Key der SHAB Message.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSHABMessageResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Type des Response-Elementes um eine SHAB Meldung zu liefern.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="shabMessage" type="zefix:shabMessageResponseType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Eine SHAB Meldung. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLegalFormsResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Type des Response-Elementes um alle Rechtsformen zu liefern.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="legalForms" type="zefix:legalFormsResponseType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Liste aller Rechtsformen. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBFSCommunitiesResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Type des Response-Elementes um alle Gemeinden inklusive
                BFS Nummer zu erhalten.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="bfsCommunities" type="zefix:bfsCommunitiesResponseType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Liste aller Gemeinden. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRegistryOfficesResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Type des Response-Elementes um alle HRA
                (Handelsregister??mter) zu erhalten.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="registryOffices" type="zefix:registryOfficesResponseType">
        <xs:annotation>
          <xs:documentation xml:lang="de">Liste der HRA (Handelsregister??mter).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getByUidDetailledRequest" type="zefix:getByUidRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Request-Element um die detaillierte
                Unternehmensinformation anhand der UID zu holen. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="getByUidFullRequest" type="zefix:getByUidRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="de">Request-Element um die vollst??ndige
                Unternehmensinformation anhand der UID zu holen. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="getByUidDetailledResponse" type="zefix:detailledResponseType" />
  <xs:element name="getByUidFullResponse" type="zefix:fullResponseType" />
  <xs:element name="searchByNameRequest">
    <xs:annotation>
      <xs:documentation xml:lang="de">Request-Element der search by name Operation.
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name">
          <xs:annotation>
            <xs:documentation xml:lang="de"> F??r die Suche zu verwendende Firma. Der
                            Name muss mindestens 3 Zeichen lang sein. </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:choice minOccurs="0">
          <xs:element minOccurs="0" name="legalFormId" type="zefix:legalFormIdType">
            <xs:annotation>
              <xs:documentation xml:lang="de"> Einschr??nkung der Suche auf eine bestimmte Rechtsform
                        gem??ss EHRA Rechtsformcode. Ist das Element nicht vorhanden, so erfolgt die Suche ??ber
                        alle Rechtsformen. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="legalFormUid" type="eCH-0097:legalFormType">
            <xs:annotation>
              <xs:documentation xml:lang="de"> Einschr??nkung der Suche auf eine bestimmte Rechtsform
                        gem??ss eCH-0097 Rechtsformcode. Ist das Element nicht vorhanden, so erfolgt die Suche ??ber
                        alle Rechtsformen. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element minOccurs="0" name="registerOfficeId" type="zefix:registerOfficeIdType">
            <xs:annotation>
              <xs:documentation xml:lang="de"> Es sollen nur Unternehmen gefunden
                                werden, die bei einem bestimmten HRA eingetragen sind. Ist das
                                Element nicht vorhanden, so wird die Suche auf alle HRA ausgedehnt.
                                Die Verwendung dieses Elementes schliesst die gleichzeitige
                                Verwendung der Elemente 'Kanton' und 'zefix:LegSeatId' aus.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="canton" type="zefix:cantonType">
            <xs:annotation>
              <xs:documentation xml:lang="de"> Es sollen nur Unternehmen gefunden
                                werden, deren Sitz in einem bestimmten Kanton liegt. G??ltiger
                                Wertbereich f??r dieses Element sind die zweistelligen Kantonsk??rzel
                                (BE, ZH, etc.). Ist das Element nicht vorhanden, so wird die Suche
                                auf alle Kantone ausgedehnt. Die Verwendung dieses Elementes
                                schliesst die gleichzeitige Verwendung der Elemente
                                'registerOfficeId' und 'legalSeatId' aus. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="legalSeatId" type="zefix:legalSeatIdType">
            <xs:annotation>
              <xs:documentation xml:lang="de"> Es sollen nur Unternehmen gefunden
                                werden, deren Sitz in einer bestimmten politischen Gemeinde liegt.
                                G??ltige Werte f??r dieses Element sind die BFS Nummern der Gemeinden
                                (z.B. 351 f??r Bern). Ist das Element nicht vorhanden, so wird die
                                Suche auf alle Gemeinden ausgedehnt. Die Verwendung dieses Elementes
                                schliesst die gleichzeitige Verwendung der Elemente 'Kanton' und
                                'registerOfficeId' aus. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
        <xs:element name="active" type="xs:boolean">
          <xs:annotation>
            <xs:documentation xml:lang="de"> Bestimmt, ob nur nach den aktiven 
                            Unternehmensbezeichnungen (Wert=true) oder zus??tzlich auch 
                            nach gel??schten und inaktiven Unternehmensbezeichnungen
                            gesucht werden soll (Wert=false).
                        </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="maxSize">
          <xs:annotation>
            <xs:documentation xml:lang="de">Dieser Parameter ist nur noch aus Gr??nden der R??ckw??rtskompatibilit??t vorhanden. Der Wert wird vom Zefix Webservice ignoriert.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="9999" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="shortResponse">
    <xs:annotation>
      <xs:documentation xml:lang="de">Resultat der search by name Operation.
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="errors" type="zefix:errorsType">
          <xs:annotation>
            <xs:documentation xml:lang="de">Diese Element ist nur vorhanden, wenn ein
                            Fehler aufgetreten ist. In diesem Fall wird das nachfolgende Element
                            searchByNameResult fehlen. </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="result">
          <xs:annotation>
            <xs:documentation xml:lang="de">Diese Element enth??lt das Resultat der
                            Operation. Es ist nur vorhanden, wenn kein Fehler aufgetreten ist. Das
                            Element ist auch dann vorhanden, wenn die Suche kein Resultat geliefert
                            hat</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="companyInfo" type="zefix:companyShortInfoType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSHABRefsByDateRequest" type="zefix:getSHABRefsByDateRequestType" />
  <xs:element name="getSHABMessageRequest" type="zefix:getSHABMessageRequestType" />
  <xs:element name="getSHABRefsByDateResponse" type="zefix:shabRefsByDateResponseType" />
  <xs:element name="getSHABMessageResponse" type="zefix:shabMessageResponseType" />
  <xs:element name="getLegalFormsResponse" type="zefix:legalFormsResponseType" />
  <xs:element name="getBFSCommunitiesResponse" type="zefix:bfsCommunitiesResponseType" />
  <xs:element name="getRegistryOfficesResponse" type="zefix:registryOfficesResponseType" />
  <xs:element name="getRegistryOfficesRequest" type="zefix:registryOfficesRequestType" />
  <xs:element name="getLegalFormsRequest">
    <xs:complexType />
  </xs:element>
  <xs:element name="getBFSCommunitiesRequest">
    <xs:complexType />
  </xs:element>
</xs:schema>